:root{
  --primary-color: #ad321d;
  --seconday-color: #111b69;
  --body-font: "Roboto", sans-serif;
}


*{
    margin: 0 auto;
    box-sizing: border-box;
}

body{
    font-size: var(--body-font);
    width: 99%;
}

main {
    width: 98%;
    height: auto;
}

header, footer {
    height: 80px;
    width: 98%;
    border: 1px solid var(--seconday-color);
    margin-top: 5px;
}



h1 {
    color: var(--primary-color);
    text-align: center;
    margin: 10px;
}

table {
    border: 1px solid #eee;
    width: 80%;
}

 tr {
    border: 1px solid #eee;
    background-color: #eee;
}
tr  td, th {
    padding: 10px 4px;
}

 
.cards {
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr;
    border: 1px solid var(--seconday-color)
}

.card {
    border: 1px solid blue;
    display: flex;
    flex-direction: row;
}

.card > img, div {
    border: 1px solid black;
    margin: 2px; 
}

