:root{
  --primary-color: #ad321d;
  --seconday-color: #111b69;
  --body-font: "Roboto", sans-serif;
}


*{
    margin: 0 auto;
    box-sizing: border-box;
}

body{
    font-size: var(--body-font);
    width: 99%;
}

main {
    width: 98%;
    height: auto;
}

header, footer {
    height: 70px;
    width: 98%;
    border: 2px solid var(--seconday-color);
    margin-top: 20px;
    margin-bottom: 20px;
}

#logo {
    width: 60px;
    height: 60px;
    border: 1px dashed black;
    margin: 4px;
}



h1 {
    color: var(--primary-color);
    text-align: center;
    margin: 10px;
}

table {
    border: 1px solid #eee;
    width: 80%;
}

 tr {
    border: 1px solid #eee;
    background-color: #eee;
}
tr  td, th {
    padding: 10px 4px;
}

 
.cards {
    padding: 4px;
    display: grid;
    grid-template-columns: 1fr;
    border: 1px solid var(--seconday-color);
    margin-top: 40px;
    margin-bottom: 40px;
}

.card {
    border: 2px solid blue;
    display: flex;
    flex-direction: row;
    align-content: center;
    margin: 2px;
    margin-bottom: 4px;
}

.card > figure, div{
    margin: 2px; 
}

.card figure{
   height: auto;
   min-width: 140px;
   border: 1px solid rgb(101, 205, 101);
   margin: 2px;
}
.card div {
    width: 98%;
    height: auto;
    border: 2px solid rgb(95, 11, 11);
}
.card div > h3 {
    text-align: center;
    border: 1px solid black;
    margin: 2px;
}
.card div > .content {
    border: 1px solid black;
    margin: 2px;
    height: 90px;
} 

.card div > .time{
    border: 1px solid black;
    margin: 2px;
    height: 20px;
}

