
/* Modal Styles */
#modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--first-level-color);
}   
#modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 8px;
    text-align: center;
}
#close-button {
    color: var(--first-level-color);
    float: right;
    font-size: 28px;        
    font-weight: bold;
    cursor: pointer;
}
#close-button:hover,
#close-button:focus {
    color: black;   
    text-decoration: none;
    cursor: pointer;
}
#close-modal {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;   
    border-radius: 4px;
    background-color: var(--primary-color);
    color: white;   
    font-size: 1rem;
    cursor: pointer;
}
#close-modal:hover {
    background-color: var(--primary-color);
}




