:root{
  --primary-color: #08164d;
  --seconday-color: #551a06;
  --text-color: #171616;
  --border-color: #aca7a7;
  --body-background-color: #f5f3f3;
  --white: #fff;
  --body-font: "Roboto", sans-serif;
}


*{
    margin: 0 auto;
    box-sizing: border-box;
}

body{
    font-size: var(--body-font);
    width: 99%;
    font-family: var(--body-font);
}

main {
    width: 96%;
    height: auto;
    padding: 10px;
    background-color: var(--body-background-color);
}

h1 {
 text-align: center;
 color: var(--primary-color);
 margin-bottom: 30px;
}

footer{
    background-color: var(--primary-color);
    text-align: center;
    padding: 30px;
    font-size: 12px;
    color: var(--white);
    margin-top: 20px;
}

footer > a {
    color: var(--white);
    margin-top: 20px;
}


/* The beginning of menu and the header  */

 header {
    background-color: var(--white);
    padding: 10px 0px;
    margin: 6px 0px;
}



#header-logo {
     display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid var(--primary-color);
    margin-bottom: 1px;
    margin-top: 0px;
    padding-bottom: 4px;
   
}

#header-logo:first-child {
    display: flex;
    align-self: center;
    align-items: center;
    text-align: center;
    align-content: center;
}


#title{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    text-align: center;
    margin-left: 8px;
}

#title > img {
    margin-right: 8px;
}

#title > span {
    font-weight: bold;
}


/* Nav bar section */

#menu-nav  {
   width: 100%;  
    background-color: var(--primary-color);
    display: none;
    flex-direction:column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}



#menu-nav a {
    padding: 20px;
    list-style-type: none;
    border-bottom: 1px solid var(--border-color);
    color: var(--white);
    text-decoration: none;
    width: 100%;
}



#menu-nav a:hover{
    background-color: var(--white);
    color: var(--primary-color);
    cursor: pointer;
}



/* Menu section */
/* -------------*/
 
#menu {
    border: 1px solid var(--primary-color);
    justify-items: center;
    text-align: center;
    font-weight: bolder;
    width: fit-content;
    padding: 10px;
    background-color: #eee;
    margin-right: 8px;
}

#menu-cross {
    font-size: 35px;
    display: none;
    padding: 0px 10px;
}

#line-menu {
    display: block;
}

.menu-line{
    border-top: 6px solid var(--primary-color);
    height: 2px;
    width: 40px;
    margin-top: 2px;
}


/* the end of the menu and the header */

#news-weather {
    display: grid;
    grid-template-columns: 1fr;
}

#random-news .card {
    display: flex;
    flex-direction: row;
}

#random-news > .card > .card-content {
    margin-top: 20px;
}

.weather {
    margin: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-color);
    background-color: var(--white);
    padding: 20px;
}

.weather > h2 {
    margin: 15px 0px;
    text-align: center;
    color: var(--seconday-color);
}


 
.cards {
    padding: 4px 20px;
    display: grid;
    grid-template-columns: 1fr;
    border: 1px solid var(--border-color);
    margin-top: 10px;
    margin-bottom: 40px;
    width: 98%;
}

.card {
    border: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    margin: 10px 5px;
    background-color: var(--white);
    border-radius: 4px;
}


.address-read-more {
    display: flex;
    flex-direction: row;
    margin: 6px;
}

.card > figure, div{
    margin: 2px; 
}

.card figure{
   height: auto;
   min-width: 140px;
   padding: 4px;
}

figure > img {
    display: block;
    margin: 0 auto;
    width: 97%;
    border-radius: 2px;
}

.card div {
    width: 98%;
    height: auto;
}
.card h3 {
    margin: 3px 0px 8px 0px;
    font-size: 15px;
}
.card div > .content {
    margin: 8px 2px 14px 2px;
    color: var(--text-color);
    font-size: 14px;
}

.card a {
    text-decoration: none;
}

.card-content {
    padding: 5px;
}

form {
    max-width: 99%;
    margin: 0;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    margin: 2rem;
}

form * {
    display: block;
    width: 100%;
}

input[type="text"], input[type="email"]{
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}
input[type="text"]:focus, input[type="tel"]:focus,
input[type="email"]:focus {
    border-color: #007BFF;
    outline: none;
}   
input[type="submit"] {
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    background-color: #062b53;
    color: white;
    font-size: 1rem;
    cursor: pointer; 
}
input[type="submit"]:hover {
    background-color:var(--primary-color);
} 

input{
    margin-bottom: 10px;
}

label {
    font-weight: bold;
    margin-bottom: 0.5rem;
}


#thankyou {
    margin:  5% auto;
    width: 400px;
    padding: 10px;
    box-shadow: 4px 3px 6px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    background-color: #eee;
}

#thankyou > h2 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--success);
}

