
.signup-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding: 2rem;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ddd;
}

.membership-info {
    width: 100%;
}

@media (min-width: 580px) {
  .signup-section {
    grid-template-columns: 2fr 1fr;
  }
}

.card-form {
    width: 100%;
    border-radius: 4px;
}

h1 {
    text-align: center;
    color: var(--first-level-color);
    margin-bottom: 30px;
}



.membership-level {
    display: flex;
    flex-direction: column;
}

.level {
    width: 98%;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 20px 0px;
    box-shadow: 4px 2px 3px 5px rgba(0, 0, 0, 0.2);
    background-color: #f9f9f9;
    text-align: center;

}

.level h3 {
    color: #fff;
    margin-bottom: 10px;
    margin-top: 10px;
}



.readmore {
    padding: 0.3rem;
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
}

.readmore:hover {
    text-decoration: underline;
    font-weight: bolder;
}

form {
    max-width: 99%;
    margin: 0;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    margin: 2rem;
}

form * {
    display: block;
    width: 100%;
}

input[type="text"], input[type="tel"],
input[type="email"],
select{
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}
input[type="text"]:focus, input[type="tel"]:focus,
input[type="email"]:focus {
    border-color: #007BFF;
    outline: none;
}   
input[type="submit"] {
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    background-color: #062b53;
    color: white;
    font-size: 1rem;
    cursor: pointer; 
}
input[type="submit"]:hover {
    background-color:var(--primary-color);
} 

input, select, textarea {
    margin-bottom: 10px;
}

label {
    font-weight: bold;
    margin-bottom: 0.5rem;
}



/* Modal Styles */
#modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--first-level-color);
}   
#modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 8px;
    text-align: center;
}
#close-button {
    color: #aaa;
    float: right;
    font-size: 28px;        
    font-weight: bold;
    cursor: pointer;
}
#close-button:hover,
#close-button:focus {
    color: black;   
    text-decoration: none;
    cursor: pointer;
}
#close-modal {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;   
    border-radius: 4px;
    background-color: var(--primary-color);
    color: white;   
    font-size: 1rem;
    cursor: pointer;
}
#close-modal:hover {
    background-color: var(--primary-color);
}


th {
    text-align: left;
}
td {
    text-align: left;
    padding-left: 8px;
}

#thankyou {
    margin:  5% auto;
    width: 400px;
    padding: 10px;
    box-shadow: 4px 3px 6px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    background-color: #eee;
}

#thankyou > h2 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--success);
}


@keyframes gradientMove {
 0% { background-position: 0% 50%; }
 50% { background-position: 100% 50%; }
 100% { background-position: 0% 50%; }
}

#non-profit-member {
  background: linear-gradient(270deg, #2da822, #013508);
   background-size: 400% 400%;
   animation: gradientMove 12s ease infinite;
}

#silver-member{
   background: linear-gradient(270deg, #0a615a, #033e41);
   background-size: 400% 400%;
   animation: gradientMove 6s ease infinite;
}

#bronze-member{
    background: linear-gradient(270deg, #ce567e, #910362);
   background-size: 400% 400%;
   animation: gradientMove 10s ease infinite;
}
#bronze-member h3,  a {
    color: #fff;
}

#gold-member{
 background: linear-gradient(270deg, #ff7e5f, #bfcf29);
 background-size: 400% 400%;
 animation: gradientMove 8s ease infinite;
}





