@media screen and (min-width: 580px){
     #menu{
        display: none;
     }
     #header-logo {
        justify-content: start;
        align-self: start;
        background-color: var(--first-level-color);
        color: #fff;
        padding: 5px;
     }

     #img-logo {
        margin-left: 10px;
        border: 1px solid #fff;
     }   

 
     #menu-nav {
        display: flex;
        flex-direction: row;
        padding: 0px;
        margin-bottom: 5px;
        background-color: var(--first-level-color);
       justify-content: flex-end;
       width: fit-content;
       margin-right: 10px;
       position: static;
     }

   #menu-nav a {
      list-style-type: none;
      color: #fff;
      text-decoration: none;
      border-bottom: none;
   }

     #about-info{
        display: grid;
        grid-template-columns:  2fr 1fr 1fr;
        grid-gap: 20px;
     }

     #hero {
      width: 90%;
      }

      
     .business-cards{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
   }

   .business-card {
       width: 94%;
   }

   .business-cards-list {
      display: flex;
      flex-direction: column;
      width: 90%;
   }

   .business-cards-list .business-card {
      margin-top: 20px;
   }

   .business-cards-list  .business-card-detail {
      width: 60%;
   }

     footer {
      grid-template-columns: 1fr 1fr 1fr;
     }

     .h2-heading {
      text-align: left;
     }

}