:root{
  --primary-color: #403ebd;
  --seconday-color: #3f446d;
  --first-level-color: #0e0d0d;
  --second-level-color: #f5f3f3;
  --third-level-color: #a59d9d;
  --quiet-accent: #3d3838;
  --loud-accent: #330f0f;
  --body-font: "Roboto", sans-serif;
  --success: #096829;
  --danger: #851414;
}


*{
    margin: 0 auto;
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    font-family: var(--body-font);
}

header {
    margin: 10px 0px;
}

#header-logo {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    border-bottom: 1px solid var(--first-level-color);
    margin-bottom: 5px;
    margin-top: 0px;
    padding-bottom: 5px;
}

#header-logo:first-child {
    display: flex;
    align-self: center;
    align-items: center;
    text-align: center;
    align-content: center;
}


main{
    padding: 10px;
}

#title{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    text-align: center;
    margin-left: 8px;
}

#title > img {
    margin-right: 8px;
}

#title > span {
    font-weight: bold;
}


/* Nav bar section */
#menu-nav  {
    position: absolute;
    top: 85px;
    right: 0px;
    width: 40%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    background-color: var(--first-level-color);
    animation: slideFromRight 1s ease-out forwards;
}

@keyframes slideFromRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateY(0);
    }
}


#menu-nav a {
    padding: 20px;
    list-style-type: none;
    color: #fff;
    text-decoration: none;
    width: 100%;
}


#menu-nav a:hover{
    background-color: var(--second-level-color);
    color: #000;
    cursor: pointer;
    font-weight: bold;
}


/* Menu section */
/* -------------*/ 
#menu {
    border: 1px solid var(--first-level-color);
    justify-items: center;
    text-align: center;
    font-weight: bolder;
    width: fit-content;
    padding: 10px;
    background-color: #eee;
    margin-right: 8px;
}

#menu-cross {
    font-size: 28px;
    display: none;
    padding: 0px 10px;
}

#line-menu {
    display: block;
}

.menu-line{
    border-top: 6px solid var(--first-level-color);
    height: 2px;
    width: 40px;
    margin-top: 2px;
}

.card{
    background-color: var(--second-level-color);
    margin:20px 0px;
    padding-bottom: 20px;
}

.card > h2 {
    margin: 0px;
}

.h2-heading {
    background-color: var(--first-level-color);
    color: #fff;
    text-align: center;
    font-size: 16px;  
    padding: 8px;
}

#hero {
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2px;
}

.card > .weather {
    margin: 20px;
    display: flex;
    flex-direction: row;

}


.card > p{
    padding: 30px;
} 

#profile-photo{
    width: 250px;
    height: 250px;
    border-radius: 10px;
    background-color: var(--third-level-color);
    margin-top: 10px;
}

#toggle {
    display: flex;
    flex-direction: row;
    background-color: var(--first-level-color);
    text-align: center;
    align-content: center;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 20px; 
}

.toggle-button {
    padding: 14px 40px;
    background-color: var(--primary-color);
    color: #fff;
    text-align: center;
    margin: 20px 10px;
}

.toggle-button:hover{
    cursor: pointer;
    font-weight: bolder;
}

#social-link{
    text-align: center;
    margin: 30px 0px;
}

#social-link > div {
    margin-top: 30px;
}

#social-link > h2 {
    font-size: 18px;
    font-weight: normal;
}

a {
    text-decoration: none;
}

.fa {
    font-size: 50px;
    margin: 5px;
    color: #000;
}

.business-cards-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.business-cards-list  .business-card {
      width: 98%;
      margin-top: 20px;
      display: flex;
      flex-direction: row;
   }

   .business-cards-list h3, span {
    font-size: 14px;
   }

   .business-cards-list img {
    margin: 4px;
    width: 50px;
    height: 50px;
   }


.business-cards{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    justify-content: space-around;
}


.business-card {
    padding: 10px;
    border-radius: 4px;
     box-shadow: 5px 4px 3px  4px rgba(0, 0, 0, 0.4);
     width: 70%;
}

.business-card ul {
    list-style: none;
    padding-left: 0px;
    font-size: 12px;
}

.business-card-header {
    border-bottom: 1px solid var(--second-level-color);
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 8px;
}

.business-card-detail{
    display: flex;
    align-items: center;
}

.business-card-detail > p {
    margin-left: 0px;
}

.business-card img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.3);
}

.list-cards {
    width: 90%;
    height: auto;
}

.member-level, .silver-level, .gold-level {
    font-size: 12px;
    font-weight: bold;
}   

.member-level {
    color: var(--primary-color);
}

.silver-level {
    color: rgb(221, 109, 109);
}

.gold-level {
    color: #a12d19;
}

footer{
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--second-level-color);
    padding: 20px;
    margin-top: 40px;
}