@media screen and (min-width: 580px){
     #menu{
        display: none;
     }
     #header-logo {
        justify-content: start;
        align-self: start;
     }

 
     #menu-nav {
        display: flex;
        flex-direction: row;
        padding: 20px 0px;
        background-color: #fff;
       justify-content: flex-end;
       width: 40%;
       margin-right: 10px;
       position: static;
     }


   #menu-nav a {
      list-style-type: none;
      color: #000;
      text-decoration: none;
      border-bottom: none;
   }



   #menu-nav a:hover{
      color: #fff;
      cursor: pointer;
      font-weight: bold;
      background-color: #0e0d0d;;
   }

     #about-info{
        display: grid;
        grid-template-columns:  2fr 1fr 1fr;
        grid-gap: 20px;
     }

     #hero {
      width: 90%;
      }

     
     .business-cards{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
   }

   .business-cards-list {
      display: flex;
      flex-direction: column;
      width: 90%;
   }

     footer{
      grid-template-columns: 1fr 1fr 1fr;
     }
     .h2-heading {
      text-align: left;
     }

}