@media screen and (min-width: 580px){
     #menu{
        display: none;
     }
     #header-logo {
        justify-content: start;
        align-self: start;
     }

 
     #menu-nav {
        display: block;
        padding: 20px 0px;
     }

     #menu-nav a {
        border: 0px;
     }

     #about-info{
        display: grid;
        grid-template-columns:  2fr 1fr 1fr;
        grid-gap: 20px;
     }

     
     .business-cards{
      display: grid;
     grid-template-columns: 1fr 1fr 1fr;
   }

     footer{
      grid-template-columns: 1fr 1fr 1fr;
     }
     .h2-heading {
      text-align: left;
     }

}