:root{
  --primary-color: #;
  --seconday-color: #;
  --first-level-color: #0e0d0d;
  --second-level-color: #dbd8d8;
  --third-level-color: #a59d9d;
  --quiet-accent: #;
  --loud-accent: #;
  --body-font: "Roboto", sans-serif;
}

*{
    margin: 0 auto;
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    font-family: var(--body-font);
}

header {
    margin: 10px 0px;
}



#header-logo {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    border-bottom: 1px solid var(--first-level-color);
    margin-bottom: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
}

#header-logo:first-child {
    display: flex;
    align-self: center;
    align-items: center;
    text-align: center;
    align-content: center;
}


main{
    padding: 10px;
}

#title{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    text-align: center;
    margin-left: 8px;
}

#title > img {
    margin-right: 8px;
}

#title > span {
    font-weight: bold;
}


/* Nav bar section */

#menu-nav  {
   width: 100%;  
    background-color: var(--first-level-color);
    display: none;
    flex-direction:column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}



#menu-nav a {
    padding: 20px;
    list-style-type: none;
    border-bottom: 1px solid #3d3939;
    color: #fff;
    text-decoration: none;
    width: 100%;
}



#menu-nav a:hover{
    background-color: var(--third-level-color);
    color: #000;
    cursor: pointer;
    font-weight: bold;
}


/* Menu section */
/* -------------*/
 
#menu {
    border: 1px solid var(--first-level-color);
    justify-items: center;
    text-align: center;
    font-weight: bolder;
    width: fit-content;
    padding: 10px;
    background-color: #eee;
    margin-right: 8px;
}

#menu-cross {
    font-size: 35px;
    display: none;
    padding: 0px 10px;
}

#line-menu {
    display: block;
}

.menu-line{
    border-top: 6px solid var(--first-level-color);
    height: 2px;
    width: 40px;
    margin-top: 2px;
}

.card{
    background-color: var(--second-level-color);
    margin:20px 0px;
    padding-bottom: 20px;
}

.card > h2 {
    margin: 0px;
}

.h2-heading {
    background-color: var(--first-level-color);
    color: #fff;
    text-align: center;
    font-size: 16px;  
    padding: 8px;
}


.card > p{
    padding: 30px;
} 

#profile-photo{
    width: 250px;
    height: 250px;
    border-radius: 10px;
    background-color: var(--third-level-color);
    margin-top: 10px;
}

.certificate, .wdd {
    display: flex;
    justify-content: center;
    align-content: space-around;
}

.certificate {
  flex-flow: row; 
  margin-bottom: 10px; 
}

.wdd {
    flex-flow: column;
    margin-bottom: 10px;
}

.certificate > div, .wdd > div {
    border-radius: 4px;
    background-color: var(--second-level-color);
    border: 2px solid #000;
    padding: 10px;
    margin-top: 5px;
    text-align: center;
}

.wdd > div {
   width: 100%;
   font-size: 15px;
   padding: 5px;
}

.certificate > div {
    width: 30%;
     font-weight: bolder;
      font-size: 20px;
}

#social-link{
    text-align: center;
    margin: 30px 0px;
}

.fa {
    font-size: 50px;
    margin: 5px;
    color: #000;
    text-decoration: none;
}


footer{
    background-color: var(--second-level-color);
    text-align: center;
    padding: 15px;
}