:root{
  --primary-color: #;
  --seconday-color: #;
  --first-level-color: #0e0d0d;
  --second-level-color: #c7c7c7;
  --third-level-color: #a59d9d;
  --quiet-accent: #;
  --loud-accent: #;
  --body-font: "Roboto", sans-serif;
}

*{
    margin: 0 auto;
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    font-family: var(--body-font);
}

header {
    margin: 10px 0px;
}

main{
    padding: 10px;
}

nav{
   width: 100%;  
   margin-top: 10px;
}

nav > ul {
    padding-left: 0px;
}

nav > ul li {
     background-color: var(--first-level-color);
     padding: 8px;
     list-style-type: none;
     border: 1px solid #1f0909;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav > ul li:hover{
    background-color: var(--third-level-color);
    cursor: pointer;
}

nav > ul li:active {
    background-color: var(--third-level-color);
}

.card{
    background-color: var(--second-level-color);
    margin:20px 0px;
    padding-bottom: 20px;
}

.card > h2 {
    margin: 0px;
}

.h2-heading {
    background-color: var(--first-level-color);
    color: #fff;
    text-align: center;
    font-size: 16px;  
    padding: 8px;
}


.card > p{
    padding: 30px;
} 

#profile-photo{
    width: 250px;
    height: 250px;
    border-radius: 10px;
    background-color: var(--third-level-color);
    margin-top: 10px;
}

.certificate, .wdd {
    display: flex;
    justify-content: center;
    align-content: space-around;
}

.certificate {
  flex-flow: row; 
  margin-bottom: 10px; 
}

.wdd {
    flex-flow: column;
    margin-bottom: 10px;
}

.certificate > div, .wdd > div {
    border-radius: 4px;
    background-color: var(--second-level-color);
    border: 2px solid #000;
    padding: 10px;
    margin-top: 5px;
    text-align: center;
}

.wdd > div {
   width: 100%;
   font-size: 15px;
   padding: 5px;
}

.certificate > div {
    width: 30%;
     font-weight: bolder;
      font-size: 20px;
}

#social-link{
    text-align: center;
    margin: 30px 0px;
}

.fa {
    font-size: 50px;
    margin: 5px;
    color: #000;
    text-decoration: none;
}


footer{
    background-color: var(--second-level-color);
    text-align: center;
    padding: 15px;
}